ErrorDocument 400 http://localhost/capstone-project/views/pages-404.php
ErrorDocument 401 http://localhost/capstone-project/views/pages-404.php
ErrorDocument 403 http://localhost/capstone-project/views/pages-404.php
ErrorDocument 404 http://localhost/capstone-project/views/pages-404.php
ErrorDocument 500 http://localhost/capstone-project/views/pages-500.php